@font-face {
    font-family: 'Helvetica';
    src: url('~@font/Helvetica.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('~@font/HelveticaBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Med';
    src: url('~@font/HelveticaMed.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Roman';
    src: url('~@font/Helvetica-Roman.otf');
    font-weight: normal;
    font-style: normal;
}